<div class="jumbotron">
  <div class="container">
    <div class="col-sm-6 col-sm-offset-3 col-xs-12">
      <div class="progress">
        <div id="time-left" class="progress-bar progress-bar-striped active"
            role="progressbar" aria-valuenow="10:00" aria-valuemin="10:00" aria-valuemax="00:00"
            data-seconds-left="<%= @seconds %>">
        </div>
        </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Statistics</h2>
      <p>View statistics of all bets, rankings and high scores.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Bets</h2>
      <p>Choose between different types: Victory or Defeat, which champion is played or how many dragons have been slain...</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p></p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>