window.notify = (type, html) ->
  alert = $('<div>')
    .addClass('alert alert-' + type)
    .addClass('col-md-offset-3 col-md-6')
    .prop('role', 'alert')
    .append('<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>')
    .append(html)
  $('#notify').append alert

  timer = $.timer ->
    alert.slideUp()
  timer.once 7000

$ ->
  refill = $('#refill')
  refill.on('ajax:success', (e, data, status, xhr) ->
    if data.status == 'success'
      refill.addClass 'hidden'
      $('#balance').text data.balance
      ranges = $('input.bet-amount:visible')
      ranges.prop 'max', data.balance
      if data.balance < 10
        ranges.prop 'step', data.balance
      else
        ranges.prop 'step', 10
    else
      notify 'warning', data.message
  ).on 'ajax:error', (e, xhr, status, error) ->
    notify 'danger', '<strong>An unexpected error occurred.</strong> ' + error
