<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Play now</h1>
        <p>
          Gambling Legend is completely free. Try it now! No signup required. Just start playing and sign up later.
        </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Start playing &raquo;</a></p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Statistics</h2>
      <p>View statistics of all bets, rankings and high scores.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Bets</h2>
      <p>Choose between different types: Victory or Defeat, which champion is played or how many dragons have been slain...</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p></p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>